<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.readingdiaryapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReadingDiaryApp">
        <activity
            android:name=".EmailActivity"
            android:label="Email Diary Data"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.readingdiaryapp.MainActivity"/>
        </activity>
        <activity
            android:name=".EditEntryActivity"
            android:label="Edit Diary Entry"
            android:parentActivityName=".YourDiaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.readingdiaryapp.YourDiaryActivity" />
        </activity>
        <activity
            android:name=".RemoveEntryActivity"
            android:label="Remove Diary Entry"
            android:parentActivityName=".YourDiaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.readingdiaryapp.YourDiaryActivity" />
        </activity>
        <activity
            android:name=".DiaryListActivity"
            android:label="View Diary List"
            android:parentActivityName=".YourDiaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.readingdiaryapp.YourDiaryActivity" />
        </activity>
        <activity
            android:name=".YourDiaryActivity"
            android:label="Your Diary"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.readingdiaryapp.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>